@use "global" as *;

.about-mv {
  position: relative;
  height: rem(460);
  background-image: url(../images/common/mv-info-sp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  @include mq(md) {
    height: rem(548);
    background-image: url(../images/common/mv-info-pc.jpg);
    // padding-top: calc( 768 / 1440 * 100%);
  }
}

.about-mv img {
  @include mq(md) {
    aspect-ratio: 1440 / 768;
    object-fit: cover;
    width: 100%;
  }
}

.about-mv__inner {
  height: inherit;
}

.about-mv__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: $en-font-family;
  color: $white;
  z-index: 500;
  @include mq(md) {
    transform: translate(-50%, 25%);
  }
}

.about-mv__maintitle {
  font-size: rem(40);
  // margin-left: rem(20);
  font-weight: bold;
  line-height: 1;
  text-transform: lowercase;
  white-space: nowrap;
  @include mq(md) {
    font-size: rem(80);
    line-height: 1;
    letter-spacing: -0.06em;
  }
}
.about-mv__maintitle::first-letter {
  text-transform: capitalize;
}


// --------------test------------------
.t-about-mv {
  position: relative;
  height: rem(460);
  background-image: url(../images/common/mv-info-sp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  @include mq(md) {
    height: rem(548);
    background-image: url(../images/common/mv-info-pc.jpg);
    // padding-top: calc( 768 / 1440 * 100%);
  }
}

.t-about-mv img {
  @include mq(md) {
    aspect-ratio: 1440 / 768;
    object-fit: cover;
    width: 100%;
  }
}

.t-about-mv__inner {
  height: inherit;
}

.t-about-mv__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: $en-font-family;
  color: $white;
  z-index: 500;
  @include mq(md) {
    transform: translate(-48%, -46%);
  }
}

.t-about-mv__maintitle {
  font-size: rem(40);
  margin-left: rem(20);
  font-weight: &bold;
  line-height: 1;
  text-transform: capitalize;
  @include mq(md) {
    font-size: rem(80);
    line-height: 1;
  }
}
