@use "global" as *;

.campaign-cards--campaign {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: rem(38);
    position: relative;
    z-index: 0;
    // max-width: rem(600);
    // width: calc(280 / 345 * 100%);
    margin-left: auto;
    margin-right: auto;
    @include mq(md) {
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        row-gap: 80px;
        // max-width: rem(1080);
        // width: 100%;
    }
}

.campaign-cards__item + .campaign-cards__item {
    margin-top: rem(40);
}