@use "global" as *;


.campaign-card {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
  height: 100%;
}

.campaign-card__wrapper {
  padding: rem(10);
}

.campaign-card__img {
  position: relative;
  width: 100%;

}

.campaign-card__img {
  width: 100%;
}

.campaign-card__img img {
  aspect-ratio: 280 / 188;
  object-fit: cover;
}

.campaign-card__header {
  border-bottom: 1px solid $green;
  padding-bottom: rem(10);

  // display: flex;
  // flex-direction: column;
  // flex-grow: 1;
}

.campaign-card__header--sideber {
  text-align: center;
}

.campaign-card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: rem(19) rem(16) rem(16) rem(16) ;
  @include mq(md) {
    padding: rem(28) rem(16) rem(29) rem(16) ;
  }
}

.campaign-card__body--campaign {
  @include mq(md) {
    padding-top: 22px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.campaign-card__body--sideber {
  padding: rem(7) rem(23) rem(20);
  @include mq(md) {
    // padding-top: 22px;
    // padding-right: 25px;
    // padding-left: 25px;
  }
}



.campaign-card__category {
  display: inline-block;
  font-size: rem(12);
  color: $green;
  line-height: calc(22 / 12);
  border: 1px solid $green;
  padding: rem(4) rem(12) rem(2) rem(12);
  @include mq(md) {
    padding: 6px 15px 4px 15px;
    padding: rem(6) rem(15) rem(4) rem(15);
  }
  
}

.campaign-card__title {
  font-size: rem(16);
  font-weight: 500;
  line-height: calc(24 / 19);
  margin-top: rem(6);
}

.campaign-card__title--campaign {
  text-align: center;
}

.campaign-card__title--big {
  @include mq(md) {
    font-size: rem(24);
  }
}

.campaign-card__info {
  margin-top: rem(8);
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mq(md) {
    margin-top: rem(16);
  }
}

.campaign-card__info--campaign {
  margin-top: rem(8);
  @include mq(md) {
    margin-top: 23px;
  }
}

.campaign-card__text {
  font-size: rem(14);
  text-align: center;
  @include mq(md) {
    font-size: rem(16);
  }
}

.campaign-card__pay {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-family: $number-font-family;
  font-weight: $bold;
  margin-top: rem(2);
  @include mq(md) {
    margin-top: rem(-2);
  }
}

.campaign-card__pay-pre {
  position: relative;
  font-size: rem(20);
  @include mq(md) {
    font-size: rem(24);
  }
}

.campaign-card__pay-pre::before  {
  position: absolute;
  content: "";
  width: rem(76);
  height: rem(3);
  background-color: #C94800;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.campaign-card__pay-post {
  font-size: rem(32);
  color: $green;
  margin-left: rem(18);
  @include mq(md) {
    font-size: rem(40);
  }
}

.campaign-card__sentence {
  display: none;
  @include mq(md) {
    display: block;
    flex-grow: 1;
    margin-top: rem(17);
  }
}


.campaign-card__contact {
  text-align: center;
  color: $green;
  display: none;
  @include mq(md) {
    display: block;
    margin-top: rem(32);
  }
}

.campaign-card__btn {
  margin-top: rem(16);
}

