@use "global" as *;


.sub-campaign__menu {
    @include mq(md) {
        max-width: rem(744);
        width: 100%;
    }
}

.sub-campaign__items {
    margin-top: rem(38);
}

.sub-campaign__item.campaign__container +.sub-campaign__item.campaign__container {
    margin-top: rem(38);
    @include mq(md) {
        margin-top: 0;
    }
}

.sub-campaign__contact.contact {
    margin-top: rem(102);
	@include mq(md) {
		margin-top: rem(141);
	}
}