@use "global" as *;

.voice-cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: rem(39);
    @include mq(md) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: rem(40);
        row-gap: rem(82);
        }
}
