@use "global" as *;

.voice-card {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  padding-top: rem(17);
  padding-left: rem(16);
  padding-right: rem(16);
  padding-bottom:rem(23);
  width: 100%;
  margin: 0 auto;
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  @include mq(md) {
    padding: rem(24);
    width: 100%;
  }
}

// .voice-card  + .voice-card  {
//   margin-top: rem(40);
//   @include mq(md) {
//     margin-top: 0;
//   }
// }

// .voice-card:nth-child(n + 3) {
//   @include mq(md) {
//     margin-top: rem(20);
//   }
// }

.voice-card__header {
  display: flex;
  align-items: flex-end;
  column-gap: rem(12);
  @include mq(md) {
    column-gap: rem(16);
    padding-bottom: rem(0);
  }
}
.voice-card__headerLeft {
  display: flex;
  flex-direction: column;
  max-width: calc(150 / 313 * 100%);
  width: 100%;
  height: 100%;
  border-bottom: 1px solid $green;
  @include mq(md) {
    max-width: calc(276 / 472 * 100%);
  }
}

.voice-card__info {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.voice-card__person {
  font-size: rem(12);
  line-height: calc( 18 / 12);
}

.voice-card__category {
  display: inline-block;
  font-size: rem(12);
  color: $green;
  line-height: calc(22 / 12);
  border: 1px solid $green;
  padding: rem(3) rem(11);
  @include mq(md) {
    padding: rem(5) rem(15);
  }
}

.voice-card__title {
  font-size: rem(16);
  font-weight: 500;
  line-height: 1.4;
  margin-top: rem(4);
  // border-bottom: 1px solid $green;
  padding-bottom: rem(5);
  // display: -webkit-box;
  // -webkit-box-orient: vertical;
  // -webkit-line-clamp: 3;
  // overflow: hidden;
  @include mq(md) {
    font-size: rem(24);
    margin-top: rem(8);
    // -webkit-line-clamp: 2;
  }
}

.voice-card__headerRight {
  max-width: calc( 151 / 313 * 100%);
  width: 100%;
  @include mq(md) {
    max-width: calc( 180 / 472 * 100%);
  }
}
.voice-card__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.voice-card__img.js-inview {
  margin-top: rem(0);
  margin-bottom: rem(0);
}

.voice-card__img img {
  aspect-ratio: 151 / 117;
  object-fit: cover;
}

.voice-card__body {
  margin-top: rem(17);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.voice-card__text {
  font-size: rem(16);
  // display: -webkit-box;
  // -webkit-box-orient: vertical;
  // -webkit-line-clamp: 10;
  // overflow: hidden;
  // @include mq(md) {
  //   -webkit-line-clamp: 7;
  // }
}


